.App {
  text-align: center;
  background: rgb(0,0,0);
  height: 100%;
}

.Navbar{
  position: fixed;
}
.pagination{
display: flex;
justify-content: center;
margin: 16px 0px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* https://nani78.tistory.com/33 */
/* https://bellchoi.co.kr/16 */
/* https://blog.naver.com/PostView.naver?blogId=salesman191&logNo=222527979319&categoryNo=29&parentCategoryNo=-1&viewDate=&currentPage=&postListTopCurrentPage=&isAfterWrite=true */