.Year{
    text-align: center;
    background: rgb(0,0,0);
    height: 100%;
  }
  .MouseImage{
    background-image: url(../public/쥐띠.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width: 800px;
    height: 700px;
    margin: auto;
  }